*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
}

.bloque{
    margin-bottom: 20px;
}

.perfil{
    width: 500px;
    background-color: aqua;
    padding: 50px;
}


.info-principal{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}


.imagen{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.descripcion{
    margin-bottom: 20px;
}

.tecnologias{
    display: flex;
    margin-top: 5px;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

footer{
    display: flex;
    justify-content: center;
}

.boton{
    display: inline-block;
    background-color: beige;
    margin-top: 5px;
    padding: 7px;
    border-radius: 7px;
    color: black;
    text-decoration: none;
}

.boton:hover{
    background-color: rgb(166, 210, 230);
}